@model WebTMDT.Models.ProductViewModel

@{
    ViewBag.Title = "Đăng sản phẩm";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>@ViewBag.Title</h3>
        </div>
        @if (TempData["Message"] != null)
        {           
            <div class="alert alert-success alert-dismissible fade in" role="alert"> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                 <strong>@TempData["Message"]</strong>
            </div>
        }

           
        @using (Html.BeginForm("AddNewProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "AddNewProduct" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.LocalId, "", new { @class = "text-danger" })


            <h4 style="text-transform: uppercase;">Bước 1: Chọn danh mục sản phẩm</h4>
            @Html.HiddenFor(m => m.CategoryId, new { @id = "ProductCategoryId" })
            @Html.HiddenFor(m => m.LocalId, new { @id = "ProductLocalId" })
            @Html.Partial("_CategoryLocalPartial")

            <h4 style="text-transform: uppercase;">Bước 2: Nhập thông tin sản phẩm</h4>
            <div class="form-group">
                @Html.LabelFor(m => m.ProductName, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", placeholder = "Tên sản phẩm và mô tả ngắn về sản phẩm" })
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <p class="help-block font-itali">(Ví dụ laptop Lenovo G2310 - core i5 6200, Ram 4gb, 15.6 inch, vga 2gb, hdd 500 gb)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductPrice, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control", placeholder = "Giá bán sản phẩm" })
                    @Html.ValidationMessageFor(m => m.ProductPrice, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.ProductVAT) <span>VAT</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductStatus, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">    
                    @if (ViewBag.ProductStatus != null)
                    {
                        @Html.DropDownListFor(m => m.ProductStatus, new SelectList(ViewBag.ProductStatus, "ProductStatusName", "ProductStatusName"), "-Chọn trạng thái sản phẩm-", new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(m => m.ProductStatus, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <p class="help-block font-itali">(Ví dụ: mới | cũ | mới 90%, v.v...)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductType, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @if (ViewBag.ProductType != null)
                    {
                        @Html.DropDownListFor(m => m.ProductType, new SelectList(ViewBag.ProductType, "ProductTypeName", "ProductTypeName"), "-Chọn thể loại sản phẩm-", new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(m => m.ProductType, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <p class="help-block font-itali">(Ví dụ: Hàng chính hãng | Hàng xách tay, v.v...)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductMethod, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ProductMethod, new { @class = "form-control", placeholder = "Cách thức giao hàng" })
                    @Html.ValidationMessageFor(m => m.ProductMethod, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <p class="help-block font-itali">(Ví dụ: Miễn phí giao hàng | Tiền ship 30k, sản phẩm, v.v...)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductGuarantee, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ProductGuarantee, new { @class = "form-control", placeholder = "Chế độ bảo hành" })
                    @Html.ValidationMessageFor(m => m.ProductGuarantee, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <p class="help-block font-itali">(Ví dụ: 6 tháng | 12 tháng, 1 năm, v.v...)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductPromotion, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.ProductPromotion, new { @class = "form-control", placeholder = "Thông tin khuyến mại" })
                    @Html.ValidationMessageFor(m => m.ProductPromotion, "", new { @class = "text-danger has-error" })
                </div>
                <div class="col-md-5">
                    <p class="help-block font-itali">(Ví dụ: Giảm giá 20% từ 1/8/2016 đến 1/9/2016.)</p>
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(m => m.ProductDateCreate, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(m => m.ProductDateCreate, new { @class = "form-control", placeholder = "Nhập ngày đăng" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.ProductDateCreate, "", new { @class = "text-danger has-error" })
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker({
                            locale: 'vi'
                        });
                    });
                </script>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.ProductAvatar, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="file" id="ProductAvatar_file" name="ProductAvatar" accept="image/*" class="form-control" />
                        <span class="input-group-addon" style="cursor: pointer;">
                            <i class="fa fa-upload"></i> Tải ảnh
                        </span>
                    </div>

                    @Html.HiddenFor(m => m.ProductAvatar)
                </div>
                <div class="col-md-5">
                    <img id="ProductAvatar_img" class="img-thumbnail img-product" src="" alt="" />
                </div>
                <script>
                    $(document).ready(function () {
                        $("#ProductAvatar_file").siblings('span').click(function () {

                            if ($('#ProductAvatar_file').get(0).files.length === 0) {
                                alert('Vui lòng chọn tệp hình ảnh.');
                                return;
                            }
                            var formData = new FormData();
                            var totalFiles = document.getElementById("ProductAvatar_file").files.length;
                            for (var i = 0; i < totalFiles; i++) {
                                var file = document.getElementById("ProductAvatar_file").files[i];

                                formData.append("ProductAvatar_file", file);
                            }
                            $.ajax({
                                type: "POST",
                                url: '/product/Upload',
                                data: formData,
                                dataType: 'json',
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    if (response.length === 0) {
                                        alert("Ảnh không hợp lên. Vui lòng chọn lại ảnh khác và ảnh có dung lượng tối thiểu 512 byte.");
                                        return;
                                    }
                                    $('#ProductAvatar').val(response);
                                    $('#ProductAvatar_img').attr({ 'src': response }).css('display', 'block');
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        });
                    });

                </script>

            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Chọn các ảnh mô tả sản phẩm</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="file" id="ProductImages1" name="ProductImages[]" accept="image/*" class="form-control" />
                        <input type="file" id="ProductImages2" name="ProductImages[]" accept="image/*" class="form-control" />
                        <input type="file" id="ProductImages3" name="ProductImages[]" accept="image/*" class="form-control" />
                        <span class="input-group-addon" id="ProductImagesUpload" style="cursor: pointer;">
                            <i class="fa fa-upload "></i> Tải ảnh
                        </span>
                    </div>                    
                    <input type="hidden" name="hinh1" id="hinh1" />
                    <input type="hidden" name="hinh2" id="hinh2" />
                    <input type="hidden" name="hinh3" id="hinh3" />

                </div>
                <div class="col-md-5">
                    <img id="Product_img1" class="img-thumbnail img-product" src="" alt="" />
                    <img id="Product_img2" class="img-thumbnail img-product" src="" alt="" />
                    <img id="Product_img3" class="img-thumbnail img-product" src="" alt="" />
                </div>
            </div>
            
            <script>
                $(document).ready(function () {
                    $('#ProductImagesUpload').on('click', function () {
                        var xx = $(this).siblings($("input[name^='ProductImages']")).get(0).files.length;
                        if (xx === 0) {
                            alert('Vui lòng chọn ít nhất một hình ảnh.');
                            return;
                        }
                        var ajaxData = new FormData();                        
                        $.each($("input[name^='ProductImages']"), function (i, obj) {
                            $.each(obj.files, function (j, file) {                               
                                ajaxData.append('ProductImages[' + i + ']', file);                                
                            })
                        });
                        $.ajax({
                            type: "POST",
                            url: '/product/UploadMultiFile',
                            data: ajaxData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                
                                if (response.length === 0) {
                                    alert("Ảnh không hợp lên. Vui lòng chọn lại ảnh khác và ảnh có dung lượng tối thiểu 512 byte.");
                                    return;
                                }

                                $.each(response, function (index) {
                                    var url0 = response[0];
                                    var url1 = response[1];
                                    var url2 = response[2];
                                    $('#Product_img1').attr('src', url0).css('display', 'inline-block');
                                    $('#Product_img2').attr('src', url1).css('display', 'inline-block');
                                    $('#Product_img3').attr('src', url2).css('display', 'inline-block');
                                    $('#hinh1').val(url0);
                                    $('#hinh2').val(url1)
                                    $('#hinh3').val(url2)
                                });


                            },
                            error: function (error) {
                                alert('Mất kết mạng');
                            }
                        });
                    })
                })
            </script>

            <h4 style="text-transform: uppercase;">Bước 3: Viết mô tả chi tiết về sản phẩm</h4>
            <div class="form-group">
                <div class="col-md-5">
                    <a href="#">Bấm vào đây để xem ví dụ mẫu về mô tả chi tiết sản phẩm</a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    @Html.TextAreaFor(m => m.ProductDescription, new { @class = "form-control", rows = 5 })
                </div>
            </div>
            
            <script>
                CKEDITOR.replace('ProductDescription');
            </script>
            
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Đăng sản phẩm" />
                </div>
            </div>
        }

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        });
    </script>
}


